html, body {
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
}

#buttons {
    margin: 10px auto;
    text-align: center;
}

#container {
    margin: 10px auto;
    max-width: 800px;
    height: 100vw;
    max-height: 800px;
    display: grid;
    justify-items: start;
    align-items: start;
}
.square {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: white;
    opacity: 1;
}

#default {
    background-color: lightskyblue;
}

.default {
    background-color: teal;
}

.silver {
    background-color: silver;
}